In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

# Import config file located outside current folder
import sys
sys.path.append("..")
from config import dbPassword, dbName

# Extract

In [3]:
filesDir="../Resources/"
raw_data_df = pd.read_csv(f"{filesDir}sanFranCrime.csv", quotechar = '"')

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010
3,160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000
4,160002740,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000

In [4]:
# Separate data into crime, geographic and time
crime_df = raw_data_df[['PdId','IncidntNum', 'Category', 'Descript','Resolution']]
crime_df.head()

In [ ]:
geographic = raw_data_df[['PdId','PdDistrict','Address', 'X', 'Y', 'Location']]
geographic.head()

In [5]:
crime_dates = raw_data_df[['PdId','DayOfWeek', 'Date', 'Time']]
crime_dates.head()

Importing rows 0 to 150500...
Done. 26.54619598388672 total seconds elapsed.

# Load

In [6]:
# Create the database engine
db_string = f"postgres://postgres:{dbPassword}@127.0.0.1:5432/{dbName}"
engine = create_engine(db_string)

       Category  PdDistrict      Resolution
0   WEAPON LAWS    SOUTHERN  ARREST, BOOKED
1   WEAPON LAWS    SOUTHERN  ARREST, BOOKED
2      WARRANTS     BAYVIEW  ARREST, BOOKED
3  NON-CRIMINAL  TENDERLOIN            NONE
4  NON-CRIMINAL     MISSION            NONE

In [7]:
# Load San Francisco Crime Data into DB
crime_df.to_sql(name="sf_crime", con=engine, if_exists="replace", index=False)

In [ ]:
# Load San Francisco Geographic Data into DB
geographic.to_sql(name="geographic", con=engine, if_exists="replace", index=False)

In [8]:
# Load San Francisco Crimes Dates Data into DB
crime_dates.to_sql(name="crime_dates", con=engine, if_exists="replace", index=False)

,IncidntNum,Date,Address,X,Y,Location
0,120058272,01/29/2016 12:00:00 AM,800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
1,120058272,01/29/2016 12:00:00 AM,800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
2,141059263,04/25/2016 12:00:00 AM,KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)"
3,160013662,01/05/2016 12:00:00 AM,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)"
4,160002740,01/01/2016 12:00:00 AM,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)"